.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
.gradlew
gradlew
gradlew.bat
gradle/wrapper
settings.gradle
/bin/
src/test/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/